<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="home"></ion-icon>
            <ion-label>Pendientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Tab2Page">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Terminados</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
<!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tabs tab="Tab1Page" tabTittle="Pendientes" tabIcon="home"></ion-tabs>
        <ion-tabs tab="Tab2Page" tabTittle="Terminados" tabIcon="information-circle"></ion-tabs>
    </ion-tab-bar>
</ion-tabs> -->